header {
    display: flex;
    background-color: rgb(228, 211, 197);
    justify-content: center;
    align-items: center;
    position: relative;
    padding-right: 20px;
    width: 965px;
    border-radius: 8px;
    margin-left: 1.5em;
}

.title {
    display: flex;
    font-size: 35px;
    font-weight: bold;
    color: black;
    margin: 0 20px 0 20px;
}

body {
    font-family: 'Alatsi';
    margin-top: 50px;
    margin-right: 5em;
    margin-bottom: 100px;
    place-items: center;
    margin-left: 5em;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    width: 500px;
    height: 500px;
    border: 3px solid rgb(228, 211, 197); 
    padding: 10px;
}

.container div {
    border: 1px solid black;
    background-color: white;
}

.grid-item {
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    color: black;
}

.display {
    color: black;
    font-size: 25px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 1em;
    background-color: rgb(228, 211, 197);
    padding: 10px;
    border-radius: 8px;}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.controls button {
    color: black;
    padding: 15px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

#reset {
    background-color: rgb(228, 211, 197);
    font-family: 'Alatsi';
}

/* Light theme */
:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --border-color: #ddd;
}

/* Dark theme */
body.dark-mode {
    --background-color: #333333;
    --text-color: #ffffff;
    --border-color: #444;
}

.toggle-theme {
    font-family: 'Alatsi';
    background-color: rgb(228, 211, 197);
    padding-top: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
}

.toggle-container {
    padding-top: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
}

playerX {
    color: rgb(231, 93, 93);
}

playerO {
    color: rgb(136, 136, 243);
}