
<div id="scorebox">
    <h1 id="scoreSheet"> Score Sheet</h1>
        <ol>
            {{#each allData}}
        <li class = "leaderboard names">{{name}} = {{wins}} wins</li> 
            {{/each}}
        </ol>
</div>
