:root{
    --winnerboxes :green 
}

.cell{
    width: 75px;
    height: 75px;
    line-height: 75px;
    font-size: 50px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    cursor: pointer;
}
.cell:nth-child(3n) {
    border-right: none;
}
.cell:nth-child(6) ~ .cell{
    border-bottom: none;
}

#gameContainer{
    position: relative;
    border: 5px solid lightblue;
    border-radius: 3px;
    margin: 20px 0px 0px 0px;
    width: 80%;
    padding: 30px 0px 30px 0px;
}
#cellContainer{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    width: 225px;
    margin: auto;
    padding: 30px 0px 15px 0px;
    text-align: center;
}

.site-title{
    padding-top: 80px;
    width:100vw;
    height:150px;
    margin:0px;
    top:-30px;
    left:-8px;
    position:relative;
    background-color:lightblue;
    color:white;
    text-align: center;
    font-size:8vw;
}
#ticTitle{
    text-align: center;
    font-family: Bradley Hand, cursive;

}
#statusText{
    font-family: Bradley Hand, cursive;
    text-align: center;
    padding-bottom: 15px;
}
#scorebox{
    /* display: flex; */
    border: 5px solid lightblue;
    text-align: center;
    width: 80%;
    margin: 50px 0px 100px 0px;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

#scoreSheet {
    font-family: Bradley Hand, cursive;
    text-align: center;
    font-size: 50px;
    text-decoration: underline 6px #007BFF;
}

.leaderboardnames {
    display: block;
    font-family: Bradley Hand, cursive;
    font-size: 20px;
    margin-top: 10px;
}

#Mainboxs{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#playersFields {
    text-align: center;
}

.playerinput {
    display: inline-block; 
    margin: 15px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: lightblue;
    text-align: center;
}

.player-input-element {
    padding-top: 10px;
    margin-right: 10px; 
    width: 150px; 
}

#sumbitButton,
#ResetButton,
#restartBtn {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

#sumbitButton:hover,
#ResetButton:hover {
    background-color: rgb(239, 66, 66);
}

#restartBtn {
    text-align: center;
}

#restartBtn:hover {
    background-color: rgb(239, 66, 66);
}

/* Dark theme */
body.dark-mode {
    --background-color: #333333;
    --text-color: #ffffff;
    --border-color: #444;

    background-color: var(--background-color);
    color: var(--text-color);

    .playerinput {
        background-color: lightblue; /* Light background color */
        color: black; /* Dark text color */
    }
}

.toggle-theme {
    padding: 10px 20px;
    background-color: lightblue;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.toggle-theme:hover {
    background-color: #007BFF;
}

.toggle-container {
    padding-top: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
}



