:root{
    --winnerboxes :green /* Color for highlighted boxes when won */
}


.cell{
    width: 75px;
    height: 75px;
    line-height: 75px;
    font-size: 50px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    cursor: pointer;
}
.cell:nth-child(3n) {
    border-right: none;
}
.cell:nth-child(6) ~ .cell{
    border-bottom: none;
}
#gameContainer{
    position: relative;
    border: 5px solid black;
    width: fit-content;
    padding: 20px;
    border-radius: 3px;
}
#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
    text-align: center;
}

.site-title{
    width:100vw;
    height:150px;
    margin:0px;
    top:-30px;
    left:-8px;
    position:relative;
    background-color:black ;
    color:white;
    text-align: center;
    font-size:100px
}
#ticTitle{
    text-align: center;
    font-family: Bradley Hand, cursive;

}
#statusText{
    font-family: Bradley Hand, cursive;
    text-align: center;
}
#scorebox{
    border: 5px solid black;
    width: fit-content;
    text-align: center;
    padding: 20px;
    position: relative;
}
#Mainboxs{
    display: flex;
    justify-content: space-between;
    margin:100px

}